.addtodo {
    background-color: #39ff14;
    color:black;
    text-align: center;
    position: center;
    margin-left: 650px;
}

.btn {
    background-color: #39ff14;
    color: black;
    margin-left: 500px;
    margin-top: 35px;

}